<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="signUp()" [formGroup]="signUpForm" novalidate fxLayout="column">
        <mat-form-field>
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="fcErr('email', 'required')">
            Email required
          </mat-error>
          <mat-error *ngIf="fcErr('email', 'email', ['required'])">
            Email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Password"
                 type="password"
                 formControlName="password">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Repeat Password"
                 type="password"
                 formControlName="repeatPassword">
        </mat-form-field>
        <button mat-button
                color="accent"
                type="submit">
          Sign Up
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
